html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
}
img {
  width: 100%;
}
h1, h2, h3 {
  color: #5d8432;
  font-family: 'Patua One', cursive;
}
a,
a:link {
  color: #793284;
  font-family: 'Patua One', cursive;
  text-decoration: none;
}
a:hover {
  color: #b42885;
}
figcaption {
  font-style: italic;
  text-align: center;
}
.bigfig {
  font-size: 1.2rem;
}
